<mat-card>

    <div class="container">

        <mat-card-title>Find Apartments or Managements</mat-card-title>


        <form class="text-search-form-group" [formGroup]="textSearchformGroup" (ngSubmit)="search(textSearchformGroup.value)">

            <div class="text-search">
                <mat-form-field appearance="fill">
                    <mat-label>Search</mat-label>
                    <input formControlName="searchWord" matInput #input placeholder="Ex. stones and rocks">
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Market (add multiple market by separating with a comma)</mat-label>
                    <input formControlName="market" matInput #input placeholder="Ex. Houston">
                </mat-form-field>

                <br>
                <button [disabled]="!textSearchformGroup.valid" type="submit" mat-flat-button color="primary">Search</button>
            </div>

        </form>

        <mat-card class="search-results" *ngIf="searchResults">

            <mat-card-subtitle>Search Results</mat-card-subtitle>

            <div>

                <pre>
                    {{searchResults}}
                </pre>

            </div>

        </mat-card>

    </div>

</mat-card>